html {
    height: auto;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom , #47084b 23%, #000 95%);
}
.main{
    justify-content: center;
    align-items: center;
    display: flex;
} 
.background-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('/images/desktop-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: 
    blur(0.5px)
    contrast(1.1);
}
.background-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.sql-container{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    color:white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
    z-index: 1;
}
textarea{
    width: 100%;
    border-radius: 20px;
    line-height: normal;
    text-align: left;
    resize: none;
}
form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 40px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: white; 
}
form button svg {
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.4s ease;
    width: 40px;
}
form button:hover svg{
    transform: rotate(360deg);
}
form textarea::placeholder {
    color: rgba(104, 4, 4, 0.814);
    text-align: center;
}